@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-color: #1a1365;
}

body {
    @apply bg-white;

    font-size: 14px;
    line-height: 1.6;
    color: var(--brand-color);
    overflow-x: hidden;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    flex-grow: 1;
}

.section-title {
    font-size: clamp(28px, 4vw, 42px);
    font-weight: 600;
}

.big-title {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.big-title strong {
    display: block;
    font-size: clamp(30px, 5vw, 78px);
    font-weight: 500;
}
