.search {
    padding: 70px 0 0 0;

    @media (min-width: 1024px) {
        padding: 192px 0 0 0;
    }
}

.title {
    text-align: center;
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 300;
    line-height: 1.5;

    strong {
        display: block;
        font-size: clamp(30px, 5vw, 78px);
        font-weight: 500;
    }
}

.description {
    margin: 40px auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;

    p {
        margin: 0;
    }

    @media (min-width: 1024px) {
        margin: 82px 0;
        max-width: 738px;
        width: 100%;
        font-size: 26px;
        text-align: unset;
    }
}

.list {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 44px;
    }

    @media (min-width: 1024px) {
        flex-wrap: nowrap;
        gap: 42px;
    }

    &__item {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 46px;
        background-color: #fff;
        border: 1px solid rgba(#1a1365, .36);

        &:not(:last-child) {
            margin-bottom: 44px;
        }

        @media (min-width: 768px) {
            width: calc(50% - 22px);

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        @media (min-width: 1024px) {
            width: calc((100% / 3) - 14px);
        }
    }
}
